.required-field::after {
    content: "*";
    color: red;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

.change-password {
    position: fixed;
    top: 50px;
    right: 0;
    padding: 10px;
}

.change-data {
    position: fixed;
    top: 50px;
    right: 130px;
    padding: 10px;
}

.alert {
    max-width: 15%;
    text-align: center;
}

.comment-table {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-row {
    margin-bottom: 5px;
}

.recipe-picture {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.recipe-picture img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.rate {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}



