label {
    font-weight: bold;
}

.required-field::after {
    content: "*";
    color: red;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

.change-password {
    position: fixed;
    top: 30px;
    right: 0;
    padding: 10px;
}

